// --------------------------------------------------
// +++ COMPONENT LOADER +++
// --------------------------------------------------


// === VARIABLES ===
// --------------------------------------------------

$loader-height: 52px;

// === BASE ===
// --------------------------------------------------

// LOADER

.c-loader {
  display: block;
  width: 100%;
  height: $loader-height;

  padding: 0 10px;

  line-height: $loader-height;

  text-align: center;
}
