// --------------------------------------------------
// +++ COMPONENT CARD +++
// --------------------------------------------------


// === BASE ===
// --------------------------------------------------

// CARD

.c-card {
  margin-bottom: 40px;
  padding: 20px;

  border: 1px solid #cecece;

  border-radius: 3px;

  background-color: $cb-white;

  box-shadow: 0 0 4px 2px rgba($cb-black, 0.04);
}

// === ELEMENTS ===
// --------------------------------------------------

// TITLE

.c-card__title {
  font-weight: 700;
}

// SUBLINE

.c-card__subline {
  margin-bottom: 12px;

  @include font-size(12px);
  color: $cb-dusty;
}
