// --------------------------------------------------
// +++ COMPONENT TIMELINE +++
// --------------------------------------------------


// === BASE ===
// --------------------------------------------------

// TIMELINE

.c-timeline {
  flex-direction: row;
  align-items: stretch;

  display: flex;

  padding: 3px;

  border: 1px solid $cb-mercury;

  border-radius: 3px;
}

// === OPTIONS ===
// --------------------------------------------------

// REVERSE

.c-timeline--reverse {
  direction: rtl;

  .c-status {
    direction: ltr;

    &:first-child {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 3px;
    }
  }
}
