// --------------------------------------------------
// +++ COMPONENT TIMELINE +++
// --------------------------------------------------


// === BASE ===
// --------------------------------------------------

// TIMELINE

.c-timeline {
  flex-direction: row;
  align-items: stretch;

  display: flex;

  padding: 3px;

  border: 1px solid $cb-mercury;

  border-radius: 3px;
}
