// --------------------------------------------------
// +++ COMPONENT TIMELINE +++
// --------------------------------------------------

// === VARIABLES ===
// --------------------------------------------------

$timeline-height: 52px;
$timeline-breakpoint: mobileLandscape;

// === BASE ===
// --------------------------------------------------

// TIMELINE

.c-timeline {
  width: 100%;
}

// === ELEMENTS ===
// --------------------------------------------------

// LABELS

.c-timeline__labels {
  flex-direction: row;
  align-items: stretch;

  display: flex;

  padding-bottom: 5px;
}

// LABEL

.c-timeline__label {
  flex: 1;

  display: inline-block;

  @include font-size(10px);
  color: $cb-dusty;

  &:last-child {
    text-align: right;
  }
}

// BAR

.c-timeline__bar {
  position: relative;

  flex-direction: row;
  align-items: stretch;

  display: flex;

  padding: 4px;

  border: 1px solid $cb-mercury;

  border-radius: 3px;
}

// OVERLAY

.c-timeline__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba($cb-white, 0.65);

  color: $cb-gunpowder;

  line-height: $timeline-height;

  text-align: center;
}

// === OPTIONS ===
// --------------------------------------------------

// REVERSE

.c-timeline--reverse {
  direction: rtl;

  .c-status {
    direction: ltr;

    &:first-child {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 4px;

      @include mq($until: $timeline-breakpoint) {
        margin-right: 3px;
      }
    }
  }

  .c-loader {
    direction: ltr;
  }

  .c-timeline__label {
    direction: ltr;

    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }
}
