// --------------------------------------------------
// +++ SETTINGS COLORS +++
// --------------------------------------------------


// === COLORS ===
// --------------------------------------------------

// WHITE

$cb-white: #fff;

// SILVER

$cb-silver: #fafafa;

// MERCURY

$cb-mercury: #cecece;

// DUSTY

$cb-dusty: #999;

// GUN POWDER

$cb-gunpowder: #424557;

// BLACK

$cb-black: #000;

// AQUAMARINE

$cb-aquamarine: #8bffd0;

// TURQUOISE

$cb-turquoise: #50d7e3;

// TANGERINE

$cb-tangerine: #ff9981;

// LAVENDER

$cb-lavender: #a28cde;
