// --------------------------------------------------
// +++ SETTINGS COLORS +++
// --------------------------------------------------


// === COLORS ===
// --------------------------------------------------

// WHITE

$cb-white: #fff;

// SILVER

$cb-silver: #fafafa;

// MERCURY

$cb-mercury: #cecece;

// DUSTY

$cb-dusty: #999;

// BLACK

$cb-black: #000;

// AQUAMARINE

$cb-aquamarine: #8bffd0;
