// --------------------------------------------------
// +++ COMPONENT STATUS +++
// --------------------------------------------------


// === VARIABLES ===
// --------------------------------------------------

$status-breakpoint: mobileLandscape;

// === BASE ===
// --------------------------------------------------

// STATUS

.c-status {
  flex: 1;

  display: inline-block;
  height: 52px;

  margin-right: 4px;

  &:last-child {
    margin-right: 0;
  }

  @include mq($until: $status-breakpoint) {
    margin-right: 3px;
  }
}

// === ELEMENTS ===
// --------------------------------------------------

// ICON

.c-status__icon {
  @include mq($until: $status-breakpoint) {
    display: none;
  }
}

// === MODIFIER ===
// --------------------------------------------------

// SUCCESS

.c-status--success {
  background-color: $cb-aquamarine;

  &:hover {
    background-color: darken($cb-aquamarine, 25%);
  }
}

// ERROR

.c-status--error {
  background-color: $cb-tangerine;

  &:hover {
    background-color: darken($cb-tangerine, 25%);
  }
}

// PENDING

.c-status--pending {
  background-color: $cb-turquoise;

  animation-name: pending;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  &:hover {
    background-color: darken($cb-turquoise, 25%);
  }
}

// NOT-RUNNING

.c-status--not_running {
  background-color: $cb-lavender;

  animation-name: not_running;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  &:hover {
    background-color: darken($cb-lavender, 25%);
  }
}

// === ANIMATIONS ===
// --------------------------------------------------

@keyframes pending {
  0% {
    background-color: $cb-turquoise;
  }

  50% {
    background-color: lighten($cb-turquoise, 25%);
  }

  100% {
    background-color: $cb-turquoise;
  }
}

@keyframes not_running {
  0% {
    background-color: $cb-lavender;
  }

  50% {
    background-color: lighten($cb-lavender, 25%);
  }

  100% {
    background-color: $cb-lavender;
  }
}
