// --------------------------------------------------
// +++ COMPONENT STATUS +++
// --------------------------------------------------


// === BASE ===
// --------------------------------------------------

// STATUS

.c-status {
  margin: 1px;
  padding: 5px;

  color: $cb-white;

  text-decoration: none;
  text-shadow: 0 0 3px grey;

  &:hover {
    padding: 6px;

    box-shadow: 0 0 5px grey;
  }
}

// === MODIFIER ===
// --------------------------------------------------

// SUCCESS

.c-status--success {
  background-color: green;
}

// ERROR

.c-status--error {
  background-color: red;
}

// PENDING

.c-status--pending {
  background-color: blue;
}
